li {
  list-style: none;
  color: #ffffff;
  margin: 0 0 10px 0;
}
li a {
  color: #ffffff;
}
.skillset-block .split-circle {
  display:block;
}
.skillset-block .split-circle {
  display:block;
}



/* ==========================================================================
   FONTS
   ========================================================================== */

/* /@font-face {
    font-family: 'futuraLight';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.eot#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraBold';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.eot#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/futura-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'journalregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/journal-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/journal-webfont.eot') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/journal-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/journal-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/168194/journal-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */
